
<h1>Datos personales</h1>
<hr>
<div *ngIf="mostrar" class="persona">
    <h2>
        <b>Nombre Completo: {{ datos.nombreCompleto }}</b>
    </h2>
    <h2>Direccion: {{ datos.direccion }}</h2>
</div>

<div class="btn">
    <button class="boton" (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
</div>